
com.ge.predix.solsvc.edgestarter.predixkit.device.get.url=""

#
# [Required] Polling interval - The time (in seconds) to wait between the completion of the last poll and starting the next poll to the cloud.
# Max is 2592000 seconds (1 month). Min is 0 seconds.
# Using a polling interval of 0 will disable automatic polling.
#
com.ge.predix.solsvc.edgestarter.task.interval="30"
